.highlight-text-container {
    display: contents;
}

.highlight-text-container .highlight {
    background-color: var(--highlight-bg-color, #FFC70A);
    color: var(--highlight-text-color, #000000);
}